@import "./constants.scss";

.navbar-container {
    padding: 1rem 0;
    @include template;
    .nav-links {
        list-style: none;
        @include flexBox(flex-start,row,center);
        .nav-item {
            @include fontSemiBold;
            padding: 0 1rem;
        }
        .nav-highlight {
            @include fontReg;
            color: $secondary;
        }
    }
    .nav-info {
        @include flexBox(space-between,row, center);
        @include fontSemiBold;
        .nav-info-container {
            position: relative;
            margin-right: 1rem;
            svg {
                font-size: 1.5rem;
                font-weight: 200;
            }
            .nav-info {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(100%,-50%);
            }
        }
    }
}